<!DOCTYPE html>
<html>
  <%- partial("_partial/head") %>
  <body>
    <%- partial("_partial/header") %>
    <%- body %>
    <%- partial("_partial/footer") %>

    <!-- 加载清空密码的脚本 -->
    <script src="<%- url_for('js/clearPassword.js') %>"></script>
  </body>
</html>
